

conda create -n rapids-25.04 -c rapidsai -c conda-forge -c nvidia  \
    rapids=25.04 python=3.10 'cuda-version>=12.0,<=12.8'
source activate rapids-25.04


pip install pybids mne==1.9.0 tabulate
python -m pip install -U timescoring
pip install sktime numpy==1.24.3 --user
pip install scikit-learn==1.5.2 seaborn

conda install pytorch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 -c pytorch

cd seizure 